- include_tasks: 
    file: prerequisites.yml
    apply:
      tags: [deploy, backup, undeploy]
  tags: [deploy, backup, undeploy]

- name: Undeploy disabled services already running
  include_tasks:
    file: undeploy.yml
    apply:
      tags: [undeploy]
  loop: "{{ to_undeploy | default([]) }}"
  loop_control:
    loop_var: service_name
    label: "{{ service_name }}"
  when: to_undeploy | length > 0
  tags: [undeploy]

- include_tasks: 
    file: networks.yml
    apply:
      tags: [deploy, networks]
  loop: "{{ docker_networks | default([]) }}"
  loop_control:
    loop_var: network_name
    label: "{{ network_name }}"
  when: docker_networks | length > 0
  tags: [deploy, networks]

- name: Deploy enabled services on {{ inventory_hostname }}
  include_tasks: 
    file: deploy.yml
    apply:
      tags: [deploy]
  loop: "{{ enabled_services | default([]) }}"
  loop_control:
    loop_var: service_name
    label: "{{ service_name }}"
  tags: [deploy]

- name: Set backup strategies for enabled services  on {{ inventory_hostname }}
  include_tasks: 
    file: backup.yml
    apply:
      tags: [backup]
  loop: "{{ enabled_services | default([]) }}"
  loop_control:
    loop_var: service_name
    label: "{{ service_name }}"
  tags: [backup]